<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>56146925810-flpfsi1op2ej0q4n3n0igisikngmq0tj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.56146925810-flpfsi1op2ej0q4n3n0igisikngmq0tj</string>
	<key>API_KEY</key>
	<string>AIzaSyD_2v0V3h21qltHsCuyS1opHLoPWdv1PXo</string>
	<key>GCM_SENDER_ID</key>
	<string>56146925810</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deepakyadav.Login</string>
	<key>PROJECT_ID</key>
	<string>loginfirebase-8d44c</string>
	<key>STORAGE_BUCKET</key>
	<string>loginfirebase-8d44c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:56146925810:ios:c7014af992c6a3100dd86b</string>
</dict>
</plist>